
  body {
  background-color: black;
  margin: 30px;
  }
  .teste{
  background:rgb(255, 255, 255);
  }
  .teste2{
  background:yellow;
  }

          /* Classes começam com PONTO (.) */
          /* Aplica o mesmo estilo para todos os elementos que usam essa classe */
          .cartao-noticia {
              background-color: #f0f0f0;
              padding: 15px;
              margin-bottom: 10px;
              border-radius: 5px;
          }

          /* IDs começam com CERQUILHA (#) */
          /* Aplica o estilo APENAS para aquele elemento específico e único */
          #noticia-urgente {
              border: 2px solid red;
              background-color: #ffdddd;
          }

          .fim {
              border: 2px solid rgb(218, 208, 208);
              background-color: #e0d4d4;
          }
